
body {
    background-color: #ffdbd7;
    font-family:"Open sans";

}

h1{

    color: #152b3c;
    font-weight:bold;
    font-family:"DM Serif Text", serif;
    text-align: center;
}

.mi-navegacion {

    color: white;
    background-color: #152b3c; /* Color de fondo */ 
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el contenido */
}   

.mi-info {
    font-size: 16px; /* Tamaño de fuente */
    color: #152b3c; /* Color del texto */
    margin-bottom: 25px; /* Espaciado inferior */
}